*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
	height:100%
}
body{
	/* no horizontal but only vertical scrolling */
	overflow:hidden;
	background-color:#063;
	background-size:cover !important;
	-webkit-user-select:none;
	user-select:none;
}
#erase-cur::before,
#erase-cur::after{
	content:'';
	border-radius:50%;
	border:2px dashed black;
	position:fixed;
	z-index:3;
	transform:translate(-50%,-50%);
	pointer-events:none;
	width:var(--erase-size);
	height:var(--erase-size);
	left:var(--erase-x);
	top:var(--erase-y);
}
#erase-cur::after{
	z-index:2;
	border:2px solid white;
}
#toolbox,
#colours-wrapper,
#colours{
	background-color:rgba(128, 128, 128, .5);
	position:fixed;
	bottom:5px;
	right:25px;
	border-radius:10px;
	height:40px;
	text-align:center;
	padding:2px;
	z-index:1;
}
#toolbox a,#toolbox label,#toolbox div{
	display:inline-block;
	color:black;
	text-decoration:none;
}

input#colorchooser{
	left:5px;
	background-image:url("stift.svg");
}

input#bg{
	background-image:url("bg.svg");
}
#toolbox input,#toolbox a,#toolbox label,#toolbox div,
#colours input{
	margin:3px;
	height:34px;
	width:34px;
	border-radius:4px;
	border:none;
	outline:none;
	vertical-align:middle;
	padding:2px;
	box-sizing:border-box;
	overflow:hidden;
}
#toolbox #stroke{
	width:122px;
}
canvas{
	display:block;
	position:fixed;
	cursor:pointer;
	z-index:0;
}
#bg-color,
.toggle{
	display:none;
}
.toggle:checked + label{
	background-color:#929292;
}
#pen:checked + label{
	background-color:var(--pen-color);
}
#colours-wrapper{
	display:none;
	width:611px;
	transform:translateY(-110%);
	background:none;
}
#colours{
	background-color: rgba(128, 128, 128, .5);
	position:absolute;
	left:0;
	bottom:0;
	right:auto;
}
#white{
	background-color:#ffffff;
}
#black{
	background-color:#000000;
}
#chooser{
	background:url("colours.svg");
}
.grid{
	--grid-size: 5vh;
	--grid-color: #000;
	background-image:
		repeating-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) calc(var(--grid-size) - 2px),
			var(--grid-color) calc(var(--grid-size) - 1px), var(--grid-color) var(--grid-size)),
		repeating-linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0) calc(var(--grid-size) - 2px),
			var(--grid-color) calc(var(--grid-size) - 1px), var(--grid-color) var(--grid-size));
	background-repeat:repeat;
	background-position:top 0px left 0;
}
#scroll{
	position:relative;
	height:100%;
	width:100%;
	background-color:#f5f5f5;
	border-radius:10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#scrollbar{
	position:fixed;
	right:0;
	height:100%;
	width:20px;
	background-color:#000000;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
